@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Inter&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  background-color: #dcdcdc94;
}

:root{
  --blue-color: rgb(66,133, 244);
  --red-color: rgb(219 68 55);
  --yellow-color: rgb(244 180 0);
  --green-color: rgb(15 157 88);
  --orange-color: rgb(237, 137, 54);
  --purple-color: rgb(159, 122, 234);
  --pink-color: rgb(237, 100, 166);
  --light-blue-color: rgba(66,133, 244, 0.1);
  --light-red-color: rgba(219, 68, 55, 0.1a);
  --light-yellow-color: rgba(244 ,180, 0, 0.1);
  --light-green-color: rgba(15 ,157, 88, 0.1);
  --light-orange-color: rgba(237, 137, 54, 0.1);
  --light-purple-color: rgba(159, 122, 234, 0.1);
  --light-pink-color: rgba(237, 100, 166, 0.1a);


}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.center_items{
  display:flex;
  justify-content: center;
  align-items: center;
}

.same_line{
  display:flex;
  align-items: center;
}