@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Inter&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  background-color: #dcdcdc94 !important;
}

:root{
  --blue-color: rgb(66,133, 244);
  --red-color: rgb(219 68 55);
  --yellow-color: rgb(244 180 0);
  --green-color: rgb(15 157 88);
  --orange-color: rgb(237, 137, 54);
  --purple-color: rgb(159, 122, 234);
  --pink-color: rgb(237, 100, 166);
  --light-blue-color: rgba(219, 234, 254, 0.5);
  --light-red-color: rgb(254,226, 226, 0.5);
  --light-yellow-color: rgba(218, 198, 23, 0.2);
  --light-green-color:  rgb(220,252, 231, 0.5);
  --light-orange-color: rgb(254,249,195);
  --light-purple-color: rgba(159, 122, 234, 0.2);
  --light-pink-color: rgba(237, 100, 166, 0.2);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main_ctn {
  width:clamp(450px, 80%, 1300px);
  margin:auto;
  min-height: 100vh;
  padding:30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius:5px;
  background-color:white;
}


.center_items{
  display:flex;
  justify-content: center;
  align-items: center;
}

.same_line{
  display:flex;
  align-items: center;
  gap:10px;
}