.search {
  display: flex;
  /* border: 2px solid green; */
  justify-content: center;
  margin-top: 1rem;
}

.menu {
  margin-top: 1rem;
  display:flex;
  justify-content: center;

}

.grid_container{
  padding:20px 0px 20px 0px;
  width:90%;
  margin:auto;
}

