.logo_box {
  background-color: #5e81f4;
  height: 3.75rem;
  width: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.6);
}

.logo_ltr {
  color: white;
  font-size: 1.8rem;
}

.logo_txt {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 0.7rem;
}

.logo_ctn {
  display: flex;
  gap: 1.4rem;
  max-width: 280px;
}
