.main_ctn {
    background-color: #f9f8f8;
    padding-top: 15px;

  }
  
  .header {
    display: flex;
    align-items: center;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .search {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .menu {
    margin-top: 15px;
    margin:auto;
  }
  
 