.main_ctn {
    width:clamp(450px, 80%, 1300px);
    margin:auto;
    padding:30px;
    border:1px solid red;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.menu {
  margin-top: 15px;
  margin:auto;
}

.grid_container{
  padding:20px;
  width:90%;
  margin:auto;
  border:1px solid green;
}
 