.main_ctn {
    padding-top: 15px;
    font-family: Manrope;
  }

.title{
    text-align: center;
    margin-top:30px;
    font-size:1.1rem;
    font-weight: bold;
}

.subtitle{
    font-weight: bold;
    font-size:0.9rem;
    margin-top:5px;
    margin-bottom:5px;
}

.input{
    margin-top:5px;
    margin-bottom:5px;
}

.textarea{
    margin-top:5px;
    margin-bottom:5px;

}

.button {
    margin-top: 30px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
  }

  .tag{
    transition: transform 0.35s ease-in-out;

  }
  .tag  :hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.1s;
  }
  
  

.box_ctn {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #eaecf8;
    -webkit-box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.6);
  }


@media (max-width: 425px) {
    .box_ctn {
      padding: 1rem;
     
    }
  }
  